@model Student_Management_System.ViewModel.StudentRegistrationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student Registration</h4>
<hr />
<div class="row">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex">
                <div class="form-group m-2">
                    <label class="control-label">Group</label>
                    <div>
                        @Html.DropDownListFor(x=>x.GroupId, Model.GroupData, "Select Group")
                    </div>
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label class="control-label">Level</label>
                    <div>
                        @Html.DropDownListFor(x=>x.LevelId, Model.LevelData, "Select Level")
                    </div>
                    <span asp-validation-for="LevelId" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label class="control-label">Course</label>
                    <div >
                        @Html.DropDownListFor(x =>x.CourseId, Model.CourseData, "Select Course")
                    </div>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
